src/main/resources/KOSSHrmAPIService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="uri:FlexAPI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="uri:FlexAPI" name="KOSSHrmAPIService">
<types>
<xsd:schema>
<xsd:import namespace="uri:FlexAPI" schemaLocation="http://localhost:16091/KOSSHrmAPIService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webServices.web.kontek.leandev.se/" schemaLocation="http://localhost:16091/KOSSHrmAPIService?xsd=2"/>
</xsd:schema>
</types>
<message name="Import_Employee">
<part name="parameters" element="tns:Import_Employee"/>
</message>
<message name="Import_EmployeeResponse">
<part name="parameters" element="tns:Import_EmployeeResponse"/>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"/>
</message>
<message name="HRM_GetPaySlip">
<part name="parameters" element="tns:HRM_GetPaySlip"/>
</message>
<message name="HRM_GetPaySlipResponse">
<part name="parameters" element="tns:HRM_GetPaySlipResponse"/>
</message>
<message name="HRM_GetPayrollRuns">
<part name="parameters" element="tns:HRM_GetPayrollRuns"/>
</message>
<message name="HRM_GetPayrollRunsResponse">
<part name="parameters" element="tns:HRM_GetPayrollRunsResponse"/>
</message>
<portType name="KOSSHrmAPI">
<operation name="Import_Employee">
<input wsam:Action="uri:FlexAPI/KOSSHrmAPI/Import_EmployeeRequest" message="tns:Import_Employee"/>
<output wsam:Action="uri:FlexAPI/KOSSHrmAPI/Import_EmployeeResponse" message="tns:Import_EmployeeResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="uri:FlexAPI/KOSSHrmAPI/Import_Employee/Fault/SOAPException"/>
</operation>
<operation name="HRM_GetPaySlip">
<input wsam:Action="uri:FlexAPI/KOSSHrmAPI/HRM_GetPaySlipRequest" message="tns:HRM_GetPaySlip"/>
<output wsam:Action="uri:FlexAPI/KOSSHrmAPI/HRM_GetPaySlipResponse" message="tns:HRM_GetPaySlipResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="uri:FlexAPI/KOSSHrmAPI/HRM_GetPaySlip/Fault/SOAPException"/>
</operation>
<operation name="HRM_GetPayrollRuns">
<input wsam:Action="uri:FlexAPI/KOSSHrmAPI/HRM_GetPayrollRunsRequest" message="tns:HRM_GetPayrollRuns"/>
<output wsam:Action="uri:FlexAPI/KOSSHrmAPI/HRM_GetPayrollRunsResponse" message="tns:HRM_GetPayrollRunsResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="uri:FlexAPI/KOSSHrmAPI/HRM_GetPayrollRuns/Fault/SOAPException"/>
</operation>
</portType>
<binding name="KOSSHrmAPIPortBinding" type="tns:KOSSHrmAPI">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Import_Employee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="HRM_GetPaySlip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="HRM_GetPayrollRuns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
</binding>
<service name="KOSSHrmAPIService">
<port name="KOSSHrmAPIPort" binding="tns:KOSSHrmAPIPortBinding">
<soap:address location="http://localhost:16091/KOSSHrmAPIService"/>
</port>
</service>
</definitions>